/* ======================================================== */
/* ** STYLE.CSS FILE FOR PERSONAL STYLING */
/* ======================================================== */

/* ** NAV BAR ============================================= */
.navbar-default {
    background: transparent;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 0;
}
    .navbar-collapse {
        padding-left: 0;
        text-align: center;
    }
        .navbar-header {
            display:inline-block;
            float:none;
        }   
        .navbar-brand {
            color: white !important;
            font-family: 'Sacramento', cursive;
            font-size: 35px;
        }
        .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
            background: transparent;
        }
        .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>li>a {
            color: #ffffff;
        }
    nav .social {
        position: relative;
        margin-left: 0px;
    }
        .social a {
            border: 1px solid #ffffff;
            border-radius: 50%;
            color: #ffffff;
            float: left;
            font-size: 14px;
            line-height: 23px !important;
            margin: 10px 0 0 6px;
            padding: 3px;
            width: 34px;
            /* align-content: center; */
        }
            .social i {
                /* margin-right: 0px; */
                text-align: center;
            }
                .social .fa {
                    color: #ffffff;
                    font-size: inherit;
                    display: inline-block;
                    text-rendering: auto;
                    }

/* ** MAIN BODY =========================================== */
body {
    display: block; 
    max-width: 100%;
    height: auto; 
}
body.index, body.page {
    background: url(https://images.cdn2.stockunlimited.net/preview1300/abstract-honeycomb-background_2011496.jpg) #0e0e0e no-repeat center center fixed;
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    /* opacity: 0.9; */
}
    .index p {
        font-size: 15px;
        line-height: 24px;
    }
    /* .index a {

    } */
    
    /* * DIV ============================================== */
    /* #first_row {
        margin: 5px auto;
    } */
    .box_in {
        background: rgba(0, 0, 0, 0.55);
        padding: 20px;
        border: 1px solid rgba(255, 255, 255, 0.55);
        border-radius: 5px;
        overflow: hidden;
        margin: 5px auto;
        opacity: 0.9;
    }
    .box_in h3 {
        color: #fff;
        font-weight: 300;
        font-size: 20px;
        margin: 0 0 12px;
    }

        /* TITLE DIV ====================================== */
        #title_div {
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
            background: black;
            opacity: 0.9;
            text-align: center;
            padding: 18px;
            min-height: 160px; 
        }
            img {
                width: 350px; 
                position: relative;
                margin: auto;
            }

        /* LOG IN DIV ===================================== */
        #login_box {
            padding: 18px 20px 0;
            /* min-height: 207px; */
            opacity: 0.9;
        }
            .borderleft {
                border-right: 2px solid rgba(255, 255, 255, 0.55);
            }
                #loginText {
                    font-size: 18px;
                    margin-bottom: 40px;
                }
                /* .form_class {
                } */
                    .form_class .row {
                        margin-top: 9px;
                        margin-bottom: 9px;
                    }
                    .form_class label {
                        color: #fff;
                        font-size: 14px;
                        font-weight: 300;
                        line-height: 29px;
                    }
                    .form_class input, input[type="text"], input[type="email"], textarea.form-control, select.form-control {
                        color: #fff;
                        font-size: 14px;
                        font-weight: 300;
                        line-height: 29px;
                        background: rgba(255, 255, 255, 0);
                        border: 2px solid #03F7EB;
                        border-radius: 5px;
                        padding: 0px 5px;
                    }
                    .form_class button {
                        background: rgba(255, 255, 255, 0) none repeat scroll 0 0;
                        border: 2px solid #03F7EB;
                        border-radius: 5px;
                        color: #03F7EB;
                        font-size: 14px;
                        font-weight: 300;
                        line-height: 29px;
                        padding: 1px 11px;
                    }
                .borderleft a {
                    font-size: 12px;
                }
                    a {
                        color: #03F7EB;
                        transition: background-position 1ms linear;
                    }
            .mb {
                margin-bottom: 9px;
            }
            #phone {
                border: 1px solid #ffffff;
                border-radius: 50%;
                color: #ffffff;
                font-size: 14px;
                line-height: 23px;
                margin-right: 10px;
                padding: 3px;
                width: 34px;
            }
            .style_button {
                background: rgba(255, 255, 255, 0);
                border: 2px solid #03F7EB;
                border-radius: 5px;
                color: #03F7EB;
                font-size: 14px;
                font-weight: 300;
                line-height: 29px;
                padding: 1px 11px;
                width: 100%;
            }

    /* *DESCRIPTION DIV =================================== */
    .mt {
        margin-top: 20px;
        margin-bottom: 20px;
        opacity: 0.9;
    }
        h1 .heading {
            color: #fff;
            font-weight: 300;
            font-size: 40px;
            font-family: 'Open Sans', sans-serif;
        }
        .line {
            height: 1px;
            width: 260px;
            margin: 20px auto;
            background: #03F7EB;
        }

    /* *HEXAGON HIVE DIV ================================ */
    .center-me {
        margin-top: 30px;
        margin-bottom: 80px;
        position: relative;
        opacity: 0.95;
    }  
        .hex {
            float: left;
            margin-right: -35px;
            margin-bottom: -65px;

        }
        /* .hex:hover {
            transform: scale(1.3); 
            margin-right: -35px;
            margin-bottom: -65px;
        } */
            .hex .left {
                float: left;
                border-right: 40.4px solid #03F7EB;
                border-top: 70px solid transparent;
                border-bottom: 70px solid transparent;
            }
            .hex .middle {
                float: left;
                width: 80.8px;
                height: 140px;
                background: #03F7EB;
            }
            .hex .right {
                float: left;
                border-left: 40.4px solid #03F7EB;
                border-top: 70px solid transparent;
                border-bottom: 70px solid transparent;
            }
            /* .hex .left .darker {
                float: left;
                border-right: 40.4px solid #52D1DC;
                border-top: 70px solid transparent;
                border-bottom: 70px solid transparent;
            }
            .hex .middle .darker {
                float: left;
                width: 80.8px;
                height: 140px;
                background: #52D1DC;
            }
            .hex .right .darker {
                float: left;
                border-left: 40.4px solid #52D1DC;
                border-top: 70px solid transparent;
                border-bottom: 70px solid transparent;
            } */
            .hex-row {
                clear: left;
            }
            .hex.lower {
                margin-top: 71.3px;
            }
            .hex.no-show {
                visibility: hidden;
            }
            #flying-bee {
                width: 200px;
                -webkit-transform: scaleX(-1);
                transform: scaleX(-1);
            }
        #hex-modal {
            margin: 60px;
            text-align: center;
            position: relative;
        }
            .modal-content {
                background-color: transparent;
            }
            .modal-left {
                float: left;
                border-right: 115.4px solid #03F7EB;
                border-top: 200px solid transparent;
                border-bottom: 200px solid transparent;
            }
            .modal-middle {
                float: left;
                width: 230.8px;
                height: 400.05px;
                background: #03F7EB;
            }
                #selected-entry {
                    margin-top: 130px;
                    background-color: black;
                }
                .modal-button {
                    margin-top: 80px;
                    border: 2px solid darkgrey;
                    border-radius: 5px;
                    color: darkgrey;
                    font-size: 14px;
                    font-weight: 300;
                    line-height: 29px;
                    padding: 1px 11px;
                }
                #submit-edit {
                    background: rgba(255, 255, 255, 0);
                    border: 2px solid #03F7EB;
                    border-radius: 5px;
                    color: #03F7EB;
                    font-size: 14px;
                    font-weight: 300;
                    line-height: 29px;
                    padding: 1px 11px;
                    width: 100%;
                    margin-top: 15px;
                }
            .modal-right {
                float: left;
                border-left: 115.4px solid #03F7EB;
                border-top: 200px solid transparent;
                border-bottom: 200px solid transparent;
            }
    #other_box {
        margin: 10px auto;
    }

    /* *PUBLIC DIARIES DIV ================================ */
    #pd_box {
        margin: 20px auto;
        opacity: 0.9;
    }
        .box_in_small {
            background: rgba(0, 0, 0, 0.55);
            border: 1px solid rgba(255, 255, 255, 0.55);
            border-radius: 5px;
            font-size: 12px;
            margin-top: 20px;
            min-height: 165px;
            padding: 33px 15px;
            position: relative;
            text-align: center;
            margin-bottom: 20px;
        }
            .tag {
                background: #000 none repeat scroll 0 0;
                border: 1px solid rgba(255, 255, 255, 0.55);
                border-radius: 5px;
                font-size: 12px;
                left: 15%;
                margin: 0 auto;
                padding: 4px 10px;
                position: absolute;
                text-align: center;
                top: -8px;
                width: 70%;
            }
                .fa {
                    display: inline-block;
                    font-size: inherit;
                    text-rendering: auto;
                }
                .line2 {
                    height: 1px;
                    width: 60px;
                    margin: 12px auto;
                    background: #03F7EB;
                }
        a.style_button_b {
            background: rgba(255, 255, 255, 0) none repeat scroll 0 0;
            border: 2px solid #03F7EB;
            border-radius: 5px;
            clear: both;
            color: #03F7EB;
            display: block;
            font-size: 14px;
            font-weight: 300;
            line-height: 29px;
            margin: 15px auto 10px;
            padding: 5px 20px;
            text-align: center;
            width: 180px;
        }

#wrongNumModal {
    background-color: black;
}
/* ** FOOTER ============================================== */
footer {
    margin-top: 45px;
    padding-top: 20px;
    padding-bottom: 20px;
    background: #000000;
    font-size: 12px;
}
    #left_footer {
        float: left;
        width: 100%;
    }
        #footer_logo1 {
            width: 160px;
            margin-right: 10px;
            margin-bottom: 3px;
        }
    #find_us p{
        font-size: 12px;
    }
        .personimg {
            border: 1px solid #ffffff;
            border-radius: 50%;
            color: #ffffff;
            float: left;
            font-size: 14px;
            line-height: 23px !important;
            margin: 10px 0 0 6px;
            padding: 1px;
            width: 34px;
            float: none;
        }
    .social_buttons {
        border-top: 1px solid rgba(255, 255, 255, 0.55);
        margin-bottom: 10px;
        margin-top: 15px;
        padding-top: 10px;
        text-align: left;
    }




/* NOTES */
/* -------------------------------------------------------------------------- */
/* turquoise color : #03F7EB */
/* yellow orange color: #FBB13C */


/* .connect-with-me .connect-body .img-responsive:hover {
	border: 2px solid lightgrey;
	transform: rotate(-10deg);
	cursor: pointer;
} */